body {
	overflow-anchor: none;
	overscroll-behavior: none;
	margin: 0;
	padding: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button {
	position: relative;
}

button:focus {
	outline: none;
}

button:active {
	opacity: 0.8;
}

button:focus::after {
	content: '';
	width: 100%;
	height: 100%;
	transform: translate(-2px, -2px);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px dashed #b7ddfa;
}