body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro';
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.header-active-link::after {
	content: '';
	position: absolute;
	bottom: 6px;
	left: 50%;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px dashed #000000;
	border-color: #000000;
	transition: 200ms;
}
